<!DOCTYPE html>
<html>
  <head>
    <title>Word Typing Counter</title>
    <script>
      function startCounter() {
        var length = document.getElementById("length").value;
        console.log("Length: ", length);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/calculate_wpm", true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );

        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
            console.log("Received response: ", xhr.responseText);
            if (xhr.status == 200) {
              var response = JSON.parse(xhr.responseText);
              console.log("Parsed response: ", response);
              document.getElementById("word").textContent =
                response.finalPhrase;

              // Clear previous results
              document.getElementById("textInput").value = "";
              document.getElementById("result").innerText = "";
            } else {
              alert("An error occurred: " + xhr.statusText);
            }
          }
        };
        console.log("Sending request...");
        xhr.send("length=" + length);
      }

      function testWPM() {
        var textToTest = document.getElementById("textInput").value;
        var originalText = document.getElementById("word").textContent;

        var originalWords = originalText.split(/\s+/);
        var testWords = textToTest.split(/\s+/);

        var errorCount = 0;
        for (var i = 0; i < originalWords.length; i++) {
          if (originalWords[i] !== testWords[i]) {
            errorCount++;
          }
        }

        var wordCount = originalWords.length;
        var accuracy = ((wordCount - errorCount) / wordCount) * 100;
        var wpm = Math.round(wordCount / 5 / (1 / 60)); // Assuming 5 characters per word and 1 minute typing time

        var result =
          "Word Count: " +
          wordCount +
          ", Errors: " +
          errorCount +
          ", Accuracy: " +
          accuracy.toFixed(2) +
          "%, WPM: " +
          wpm;
        document.getElementById("result").innerText = result;
      }
    </script>
  </head>
  <body>
    <h1>Word Typing Counter</h1>
    <label for="length">Enter the number of words:</label>
    <input type="number" id="length" name="length" required />
    <button type="button" onclick="startCounter()">Start</button>

    <div id="word"></div>
    <textarea
      id="textInput"
      rows="4"
      cols="50"
      placeholder="Type the words here to test your typing speed"
    ></textarea>
    <button type="button" onclick="testWPM()">Test WPM</button>
    <p id="result"></p>
  </body>
</html>
